# 논리연산

In [5]:
for i in range(100):
    if i % 3 ==0 and i % 5 == 0:
      print(i)

0
15
30
45
60
75
90

# 할당연산

In [10]:
numA = 10
numB = 20

numA += numB

print("numA:", numA)
print("numB:", numB)

numA: 30
numB: 20

In [13]:
coffe = "Brand"
orange = "Brand"

print(coffe is orange)
print(coffe == orange)

True
True

In [14]:
a = [1, 2, 3]
b = [1, 2, 3]
c = a

print('a == b', a == b)
print('a == c', a == c)
print('a is b', a is b)
print('a is c', a is c)

a == b True
a == c True
a is b False
a is c True